.sketch-container {
    width: 600px;
}
.sketch-row {
    display: flex;
}

.grid-item {
    background-color: gray;
    min-width: 20px;
    min-height: 20px;
    aspect-ratio: 1/1;
    height: 100%;
    flex-grow: 1;
}

