body {
    background-color: cadetblue;
}

.header {
    text-align: center;
}

.menu {
    padding: 20px;
}

.container {
    display: flex;
}

.sketch-container {
    max-width: 700px;
    width: 700px;
    border: 10px solid white;
    border-radius: 16px;
}
.sketch-row {
    display: flex;
}

.grid-item {
    background-color: rgb(226, 226, 226);
    min-width: 5px;
    min-height: 5px;
    aspect-ratio: 1/1;
    height: 100%;
    flex-grow: 1;
    border: .1px solid rgba(200, 200, 200, .2);
}

